body {
    font-family:Helvetica, Arial, Verdana, sans-serif;
}
.container *{
    font-size: smaller;
}
.loading .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: gray;
    opacity: 0.5;
}
.loading .image {
    position: fixed;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.hidden {
    display: none;
}