<div style="width: 600px;padding: 30px 30px 30px 60px;border: 1px solid gray;">
<div style="text-align: center;"><strong>STATEMENT # {{number}} from {{fromDate}}</strong></div>
<div style="text-align: center;">of delivery-reception of the completed work</div>
<p style="text-indent: 50px;text-align: justify;">The document is made by the Executor, Private Entrepreneur Kopytin Volodymyr and the Customer, “Rebelmouse Inc.”, about the fact, that according to the contract as of 11/17/2014 the Executor has completed the following work:</p>
<p><strong>Developer updates and maintenance.</strong>
<p><strong>The general cost is:  {{totalCost}} ({{totalCostText}})</strong></p>
<p>Both sides are satisfied with performed services.</p>
<table style="width:600px;">
<tr><td>From the executor</td><td>From the Customer</td></tr>
<tr><td><div style="height: 40px;width: 250px;border-bottom: 1px solid black;">&nbsp;</div></td><td><div style="height: 40px;width: 250px;border-bottom: 1px solid black;">&nbsp;</div></td></tr>
<tr><td><strong>{{fromDate}}</strong></td><td><strong>{{fromDate}}</strong></td></tr>
<tr><td>Private Entrepreneur Kopytin Volodymyr</td><td>“RebelMouse Inc.”</td></tr>
<tr><td>Code: 3028410772</td><td>560 Broadway, Suite 308</td></tr>
<tr><td></td><td>New York, NY, 10012</td></tr>
</table>
</div>
