<div style="clear: both;border-bottom: 1px solid gray;">
  <div style="float: left;">
    <div><a href="#/statement/{{id}}"><button>Statement</button></a></div>
    <div><button class="edit-item">Edit</button></div>
  </div>
  <div style="margin-left: 60px;">
    <div>{{number}}: from {{fromDate}}. Total: {{totalCost}}$</div>
	<div style="height: 32px;">
    <div>Summary: {{workHoursTotal}}/{{plannedHoursTotal}} ({{workDaysTotal}}:{{plannedDaysTotal}})</div>
      <div style="float: left;">Hour rate: {{hourRate}}</div>
      <div style="float: right;">Calculated total: {{#decimal}}calculatedTotal{{/decimal}}</div>
    </div>
    <div class="edit-item-placeholder"></div>
  </div>
</div>
