<style type="text/css">
body {
    font-family:Helvetica, Arial, Verdana, sans-serif;
}
.queries {
    border: 1px solid gray;
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.queries .current-item div {
    background-color: #eee;
}
.queries li div:hover {
	background-color: #ddd;
}
.queries li {
    position:relative;
    float:left;
    margin:0;
    padding: 0px;
    width: 100px;
    overflow: auto;
    height: 22px;
    margin:0 auto;
    text-align: center;
}
.queries li:hover {
    display:block;
    overflow: initial;
    z-index: 100;
}
.queries li:hover div {
    background-color: #ddd;
}
.queries li div {
    padding: 2px;
    display:block;
    color:#333;
    text-decoration:none;
}
.container *{
    font-size: smaller;
}
.loading .overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gray;
  opacity: 0.5;
}
.loading .image {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hidden {
    display: none;
}
</style>
<div style="position: fixed;top:0px;background-color:white;">
<div class="project">Redmine - {{project}}</div>
<div><button class="get-issues">Refresh</button><span><a href="#redmine">All issues</a></span></div>
<div class="projects-selector">
    <select class="projects" data-type="views/redmine/projects" data-selected="{bind project}" data-source="{bind projects}"></select>
</div>
<div class="queries-selector">
    <ul class="queries" data-type="views/redmine/queries" data-selected="{bind query}" data-source="{bind queries}"></ul>
</div>
</div>
<div class="container issues" data-type="views/redmine/redmine" data-source="{bind issues}" data-template="text!templates/redmine.tpl.html" style="margin-top: 110px;">
</div>
<div class="loading hidden">
<div class="overlay"></div>
<div class="image">Loading...</div>
</div>
