<div>
<div class="project">Redmine - {{project}}</div>
<div><button class="get-issues">Refresh</button><span><a href="#redmine">All issues</a></span></div>
<div class="projects-selector">
    <select class="projects" data-type="views/redmine/projects" data-selected="{bind project}" data-source="{bind projects}"></select>
</div>
<div class="queries-selector">
    <ul class="queries" data-type="views/redmine/queries" data-selected="{bind query}" data-source="{bind queries}"></ul>
</div>
</div>
<div class="container issues" data-type="views/redmine/redmine" data-source="{bind issues}" data-template="text!templates/redmine/redmine.tpl.html">
</div>
<div class="loading hidden">
<div class="overlay"></div>
<div class="image">Loading...</div>
</div>
