<div style="display:inline-block;background: white;">
    <div><a href="/#redmine">Main</a></div>
    <div>Basic Auth credentials</div>
    <div><label for="username">User name:</label><input id="username" name="username" value="{{username}}"/></div>
    <div><label for="password">Password: </label><input id="password" name="password" value="{{password}}"/></div>
    <div>API access key from {{redminePath}}/my/account</div>
    <div><label for="rm-key">RM Key: </label><input id="rm-key" name="rm-key" value="{{rm-key}}"/></div>
    <div>
    Disable same origin policy in Chrome <a href="http://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome">details</a>
    </div>
    <div>
    chrome.exe --disable-web-security
    </div>
    <div>Path to redmine. Can be path with related folder</div>
    <div><label for="redminePath">Redmine path: <label><input id="redminePath" name="redminePath" value="{{redminePath}}"/></div>
    <div><a href="/#redmine">Main</a></div>
</div>
